#div_header{
	background-color: green;
}

#div_banner p{
	color: white;
	text-align: left;
	font-size: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
}

#div_link{
	background-color: yellow;
	width: 250px;
	float: left;
	margin-top: 20px;
	margin-bottom: 20px;
}

#div_content{
	background-color: blue;
	width: 1160px;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 30px;
	/*khong duoc cho nay*/
}

#div_footer{
	background-color: gray;
}

