#div_header{
	background-color: green;
	height: 100px;
}

#div_link{
	background-color: yellow;
	width: 250px;
	height: 480px;
	float: left;
	margin-top: 20px;
	margin-bottom: 20px;
}

#div_content{
	background-color: blue;
	width: 1160px;
	height: 480px;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 30px;
	/*khong duoc cho nay*/
}

#div_footer{
	background-color: gray;
	height: 50px;
}

#div_banner{
	height: 50px;
}

#div_banner p{
	color: white;
	text-align: left;
	font-size: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
}

.div_menu{
	background-color: red;
	height: 46px;
	width: 200px;
	float: left;border-style: solid;
	border-width: 2px;
}

.div_menu p{
	color: black;
	text-align: center;
	font-size: 20px;
}

.div_link{
	background-color: blue;
	height: 46px;
	width: 240px;
	border-style: solid;
	border-width: 2px;
}

.div_link a{
	color: white;
	font-size: 20px;
	padding: 50px;
}

#div_image{
	width: 806px;
	height: 206px;
	float: left;
	margin: 10px;
	border-style: solid;
	border-width: 3px;
}

#div_paragraph{
	background-color: pink;
	width: 300px;
	height: 250px;
	margin: 10px;
	border-style: solid;
	border-width: 3px;
}

#div_paragraph p{
	color: violet;
	text-align: justify;
}